*.pt filter=lfs diff=lfs merge=lfs -text
project/code/yolo2class_pipeline/models/classificator filter=lfs diff=lfs merge=lfs -text
project/code/yolo2class_pipeline/models filter=lfs diff=lfs merge=lfs -text
