nohup.out
.ipynb_checkpoints/
.jupyter_ystore.db
*.pyc
yolov11n
/project/code/yolo2class_pipeline/images/
/project/data/classification/test/
/project/data/classification/train/
/project/data/classification/val/
project/data/detection
classifier_model/
runs/
ml-backend/.env
ml-backend/cache*
ml-backend/data
ml-backend/models/*